In [1]:
import pandas as pd
import statistics as est
import seaborn as srn

In [8]:
#Importando os dados da planilha tempo.csv:
dataset = pd.read_csv ("tempo.csv", sep=";")
#visualizando o cabeçalho da planilha:
dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [9]:
#Verificando o tamanho da planilha:
dataset.shape

(14, 5)

In [11]:
#Analisar os dados coluna por coluna, começando pela Aparencia:
agrupado = dataset.groupby(['Aparencia']).size()
agrupado

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [20]:
#Substituir o termo meno pela mediana, pois não está em uma avaliação válida
dataset.loc[dataset['Aparencia']== 'menos', 'Aparencia'] = 'sol'
agrupado = dataset.groupby(['Aparencia']).size()
agrupado

Aparencia
Sol        1
chuva      5
nublado    3
sol        5
dtype: int64

In [21]:
#Substituir o termo meno pela mediana, pois não está em uma avaliação válida
dataset.loc[dataset['Aparencia']== 'Sol', 'Aparencia'] = 'sol'
agrupado = dataset.groupby(['Aparencia']).size()
agrupado

Aparencia
chuva      5
nublado    3
sol        6
dtype: int64

In [22]:
#iremos contar os valores NAN:
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [26]:
#Substituir o valor NAN na coluna de Umidade. Calcula-se a mediana e substitui:
mediana = est.median(dataset['Umidade'])
mediana

85.5

In [27]:
dataset['Umidade'].fillna(mediana, inplace = True)

In [28]:
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        0
Vento          1
Jogar          0
dtype: int64

In [29]:
agrupado = dataset.groupby(['Vento']).size()
agrupado

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [30]:
dataset['Temperatura'].describe()

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: Temperatura, dtype: float64

In [32]:
mediana = est.median(dataset['Temperatura'])
mediana

73.5

In [33]:
dataset.loc[(dataset['Temperatura'] <  -130 )  | ( dataset['Temperatura'] >  130), 'Idade'] = mediana

In [35]:
dataset['Temperatura'].describe()

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: Temperatura, dtype: float64

In [37]:
dataset.loc[(dataset['Temperatura'] <  -130 )  | ( dataset['Temperatura'] >  130), 'Idade']

7    73.5
Name: Idade, dtype: float64